/* global styles  */
body{
  font-family: 'Lato', sans-serif;
}
/* header section  */

nav{
  display: flex;
  justify-content: space-between;
}
nav > ul{
  display: flex;
  align-items: center;
}
nav li{
  list-style: none;
  margin-right: 50px;
  align-items: center;
}
.header-logo{
  font-size: 45px;
  margin-left: 50px;
}
.logo-end{
  color: #E55473;
  
}
nav a{
  text-decoration: none;

}
header{
  background-color: #E554731A;

}
.btn-primary{
  color: #FFFFFF;
  background-color: #E55473;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 30px;
}