/* global styles  */
body{
  font-family: 'Lato', sans-serif;
}
/* header section  */

nav{
  display: flex;
  justify-content: space-between;
}
nav > ul{
  display: flex;
  align-items: center;
}
nav li{
  list-style: none;
  margin-right: 50px;
  align-items: center;
}
.header-logo{
  font-size: 45px;
  margin-left: 150px;
  
}
.logo-end{
  color: #E55473;
  
}
nav a{
  text-decoration: none;

}
header{
  background-color: #E554731A;
}
.btn-primary{
  color: #FFFFFF;
  background-color: #E55473;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 30px;
}
/* banner section  */
.banner-content{
  margin-left: 150px;
}
.banner-text{
color: #272727;
font-size: 70px;
font-weight: 800;
display: flex;
max-width: 500px;
padding: 0px 0px;
}
.banner-title{
  display: flex;
  max-width: 500px;
  flex-direction: column;
  color: rgba(39, 39, 39, 0.60);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding-bottom: 0px;
  padding-top: 0px;
}
.shopnow{
  color: #FFFFFF;
  background-color: #E55473;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 700;
  padding: 20px 43px;
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;

}
.banner{
  margin: 30px 30px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* main section feature  */
.feature-section{
  justify-content: center;
  text-align: center;
}
.feature{
  text-align: center;
  justify-content: center;
 
}
.Feature-heading{
color: #272727;
text-align: center;
font-size: 30px;
font-weight: 800;
margin-top: 100px;
margin-bottom: 24px;

}
.feature-dis{
display: flex;
flex-direction: column;
text-align: center;
color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px;
margin-top: 0px;
}
/* flower section  */
/* .flower-section{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  
}
.img{
  
}
.img1{
  border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);
display: flex;
align-items: center;

}
.img2{
  border-radius: 300px 300px 0px 0px;
background: rgba(5, 151, 160, 0.15);
display: flex;
align-items: center;

}
.img3{
  border-radius: 300px 300px 0px 0px;
background: rgba(71, 125, 17, 0.15);
display: flex;
align-items: center;

}
.image1{


}
.image2{


}
.image3{


}
.image-text{

} */

/* service section  */
.service{
  width: 700px;
  height: 200px;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  padding: ;
}
.service-section{
  display: flex;
  justify-content: center;
  margin: 0px 150px 0px 150px;
}
.delivery-text{
color: rgba(39, 39, 39, 0.80);
text-align: center;
font-size: 20px;
font-weight: 600;
line-height: 35px;
}

